@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">กดที่ลิ้งนี้  <a href="http://192.168.96.31/datawait">Datawarehouse</a>   เพื่อย้อนกลับ</h2>

